# Git files
.git
.gitignore
.github

# Node modules
node_modules
npm-debug.log
yarn-error.log

# Next.js
.next
out
dist

# Testing
coverage
.nyc_output

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
*.pem
.vscode
.idea

# Documentation
README.md
*.md
!docs/**/*.md
!docs/**/*.mdx