/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 20rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: url("/static/featured-background.png"), linear-gradient(#30638e, #30638e);
  background-size: cover;
  background-position: center;
  color: white !important;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}


.btn {
  display: inline-block;
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn_lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 50px;
  text-decoration: none !important;
}

.btn_lg span {
  margin-right: 10px;
}

.btn_light {
  color: #222 !important;
  background: #d3f3ee linear-gradient(180deg, #daf5f1, #D3F3EE)repeat-x;
  border-color: #d3f3ee;
  box-shadow: inset 0 1px rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}

.btn_light:hover {
  background: #005c5c !important;
  color: #ffffff !important;
}

.btn_dark {
  color: #fff !important;
  background: #403f4c linear-gradient(180deg, #5d5c67, #403F4C)repeat-x;
  border-color: #403f4c;
  box-shadow: inset 0 1px rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}

.btn_dark:hover {
  background: #444444 !important;
}

.quote {
  padding: 80px 20px;
  /* margin: 20px auto; */
  text-align: center;
  color: #ffffff;
  background-color: #305f88;
  /* border-radius: 8px; */

  background: linear-gradient(180deg, #5d5c67, #305f88);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;

}

.quote p {
  margin: auto;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
  max-width: 1000px;
  text-align: center;
}

.quote::after{
  content: "";
  --size: 40px;
  width: var(--size);
  height: var(--size);
  background: #305f88;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%) rotate(135deg);
}

.quote_2 {
  background-color: #d3f3ee;
  color: #222;
  padding: 80px 20px;

}

.quote_2 p {
  margin: auto;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
  max-width: 800px;
  text-align: center;
}