{{ define "main" }}

<a class="td-offset-anchor"></a>
<section class="row td-box td-box--1 position-relative td-box--gradient td-box--height-auto">
	<div class="container text-center td-arrow-down">
        <h1 class="mb-3">Help us build the {{ .Site.Title }}!</h1>
        <p>
            The AQUA Protocol is free software and developed openly.<br>
            Anyone in the world can use it, improve it, and enjoy it.<br>
            We'd love you to join us building with AQUA.
        </p>
	</div>
</section>
{{ partial "community_links.html" . }}

<div class="td-content">
{{ .Content }}
</div>

{{ end }}
