---
title: "AQUA Protocol"
linkTitle: "AQUA"
description: "A simple and novel approach to prove integrity of data, authorship, and time!"
---

{{< blocks/cover title="Welcome to the AQUA Protocol!" image_anchor="top" height="full" color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-light mr-3 mb-4" href="{{< relref "/docs" >}}">
		Read Our Docs <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-dark mr-3 mb-4" href="https://github.com/inblockio">
		Source Code <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">
        A simple and novel approach to prove integrity of data, authorship, and time!
    </p>
	{{< blocks/link-down color="light" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
The AQUA Protocol is an emerging free and open-source protocol for resonably
secure data storage, transmission, and verification which is built with modern
cryptography and open standards. The AQUA Protocol does not require a
blockchain!
{{% /blocks/lead %}}


{{< blocks/section color="light">}}
<div class="col">
<h1 class="text-center">
    AQUA Protocol is made possible by crypto,<br>as in <em>cryptography</em>!
</h1>
</div>
{{< /blocks/section >}}


{{< blocks/section color="white" >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Demo PKC Node" %}}
Personal Knowledge Container (PKC) is the reference implementation of AQUA
Protocol.
<p><a href="https://pkc.inblock.io">
    Try PKC now
</a></p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" %}}
We welcome feedback, bug reports, ideas, or contributions code and documentation
alike.
<p>
<a href="https://github.com/inblockio">
    Our Github
</a></p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter" url="https://twitter.com/inblockio" %}}
For announcements and updates about our progress on the AQUA Protocol
{{% /blocks/feature %}}
{{< /blocks/section >}}
